

#cy {
  width:100%;
  height:100%;

}

#cy_in_node {
  width:100%;
  height:100%;

}

#tss
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#wordcloud_second {
    color: #FFFFFF;
    font-family: Impact;
}

.skin-blue .sidebar a#link_doc {
    color: #3e00ff;
}

dd{
    white-space: initial;
}



#wordcloud_first {
    width: 300px;
    height: 300px;
    color: #FFFFFF;
    font-family: Impact;
}

#wordcloud_second{
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.rickshaw_graph .detail .x_label { display: none }
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date { color: #a0a0a0 }

.swatch {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.swatch {
    display: inline-block;
    margin-right: 3px;
    border-radius: 2px;
}

.chart{
    overflow: visible;
}

.content {
    padding: 5px;
}

table{
    background-color:white;
}

.center-navbar{
    color: white;
    padding: 15px;
    float: left;
}

#playPause{
    margin-top: 7px;
}

label{
    color: white;
    font-family: Arial, sans-serif;
}

.content-wrapper{
    margin-left: 300px;
}

.main-sidebar{
    width:300px;
}

.main-header .logo{
    width:300px;
}

.main-header .navbar{
    margin-left: 300px;
}